---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sanket's Portfolio">
  <main
    class="h-[100vh] flex flex-row justify-end items-center bg-[url('/hero.svg')] bg-60% bg-no-repeat bg-left-bottom pr-20"
  >
    <p class="font-bold flex flex-col">
      <span class="text-8xl"> Hi , I'm Sanket.</span>
      <span class="text-6xl"
        >Just a <span class="text-mint-green">wannabe</span></span
      >
      <span class="text-6xl">Full Stack Dev.</span>
    </p>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
