---
---

<nav
  class="h-[10vh] w-full flex flex-row justify-between items-center py-4 px-20 fixed bg-dark-blue"
>
  <img src="logo.svg" alt="logo" class="w-32" />
  <ul class="md:flex gap-20 font-bold hidden">
    <a href="#">Projects</a>
    <a href="#">Skills</a>
    <a href="#">Contact</a>
  </ul>
</nav>
