---
---

<nav
  class="h-[10vh] w-full flex flex-row justify-between items-center py-4 md:px-20 px-10 fixed bg-dark-blue z-40"
>
  <img src="logo.svg" alt="logo" class="w-32" />
  <ul class="md:flex gap-20 font-bold hidden">
    <a href="#projects">Projects</a>
    <a href="#skills">Skills</a>
    <a href="#contact">Contact</a>
  </ul>
</nav>
