---
---

<nav
  class="h-[10vh] w-full flex flex-row justify-between items-center my-4 px-20 fixed bg-dark-blue"
>
  <img src="logo.svg" alt="logo" />
  <ul class="flex gap-20 font-bold">
    <a href="#">Projects</a>
    <a href="#">Skills</a>
    <a href="#">Contact</a>
  </ul>
</nav>
